---
import type {} from "astro/types";

type Props = {
  text: string;
  icon: string;
};

const { icon, text } = Astro.props;
---

<article>
  <Fragment set:html={icon} />
  <p>{text}</p>
</article>

<style>
  article {
    cursor: default;
    box-sizing: content-box;
    padding: 2em;
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;

    @media (max-width: 700px) {
      width: 5rem;
      padding: 1.25em;
    }

    &:hover {
      background: var(--light);
      transform: scale(1.1);
      box-shadow: 5px 5px 0px var(--primary-200);
      color: var(--dark);
    }
  }

  p {
    margin-top: 2em;
    font-size: var(--body-sm);
    text-align: center;
    line-height: 0;
  }
</style>
