---
import Container from "@/components/Container.astro";
import H2 from "@/components/H2.astro";
import SkillCardsContainer from "@/components/SkillCardsContainer.astro";

import { getI18N } from "@/i18n";

const { currentLocale = "es" } = Astro;
const { skills } = getI18N({ currentLocale });
---

<section aria-labelledby="skills-title" id="skills">
  <Container centered>
    <H2 id="skills-title">{skills.title}</H2>
    <p>{skills.description}</p>
    <SkillCardsContainer />
  </Container>
</section>

<style>
  section {
    padding: 7em 0 3em;

    h2 {
      color: var(--primary-100);
    }

    p {
      text-align: center;
      max-width: 60ch;
      margin-bottom: 2em;
    }
  }
</style>
