@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/InterTight.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("/fonts/JosefinSans.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-100: #ec5cbb;
  --primary-200: #c92591;
  --primary-300: #661a45;
  --secondary: #e0723f;
  --light: #f7fff2;
  --dark: #262924;
  --error: #ba0202;

  --font-body: "Inter Tight", "Open Sans", Arial, sans-serif;
  --font-heading: "Josefin Sans", "Inter Tight", "Inter", "Open Sans", Arial,
    sans-serif;

  --font-weight-body: 500;
  --font-weight-heading: 600;
}

::selection {
  background-color: var(--light);
  color: var(--primary-200);
  text-shadow: none;
}

input::selection,
textarea::selection {
  background-color: var(--primary-100);
  color: var(--dark);
}

html,
body {
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  font-size: var(--body-sm);
  background-color: var(--dark);
  color: var(--light);
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;

  --body-xs: 0.75rem;
  --body-sm: 1.1rem;
  --body-md: 1.3rem; /* Tamaño base del texto */
  --body-lg: 1.6rem;

  --h-sm: 2.5rem;
  --h-md: 4rem;
  --h-lg: 7rem;
}

@media (max-width: 1000px) {
  body {
    --h-lg: 4rem;
  }
}

@media (max-width: 550px) {
  body {
    --body-sm: 1rem;
    --body-md: 1.1rem;
    --h-sm: 1.7rem;
    --h-md: 2rem;
    --h-lg: 3rem;
  }
}

button {
  font: inherit;
}

p {
  line-height: 1.5;
}

p.small {
  font-size: var(--body-sm);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading);
  text-transform: uppercase;
}

h3 {
  font-size: var(--h-sm);
}

hr {
  width: 50%;
  margin: 0 auto;
  border: none;
  border-top: 1px solid #444;
}

@media (prefers-reduced-motion: reduce) {
  html,
  body {
    scroll-behavior: auto;
  }
}
